

<div id="content-wrapper">
    
    <slot class="text-[18px] mb-2" name="after-header"/>  <!--  children with the `slot="after-header"` attribute will go here -->

  
   
  
    <slot name="after-footer"/>  <!--  children with the `slot="after-footer"` attribute will go here -->
  </div>