

<footer class="bg-slate-900">
    <section class="mx-auto max-w-[1280px] flex flex-col lg:flex-col justify-between items-start py-16 px-8">
      <a class="text-slate-400 mb-8">© the nonprofit studio</a>
    <p class="text-slate-400 text-xs">Thanks for visiting our website.</p>
      <p class="text-slate-400 text-xs">We are a small family business based in Salt Lake City, Utah.</p>
      <p class="text-slate-400 text-xs">Say hello by sending an email to hello@thenonprofit.studio</p>
    </section>
</footer>