<footer class="bg-slate-900">
  <section
    class="mx-auto max-w-[1280px] flex flex-col lg:flex-col justify-between items-start py-16 px-8"
  >
    <a class="text-slate-400 mb-8">Joe Chelladurai</a>
    <p class="text-slate-400 text-xs">Thanks for visiting my website.</p>

    <p class="text-slate-400 text-xs">Contact</p>
  </section>
</footer>
