---
const title = "Request a Free Website Preview";
---

<section
  id="getstarted"
  class="mx-auto rounded flex max-w-[1280px] flex-col px-8 py-16"
>
  <div
    class="bg-gradient-to-r from-green-600 to-slate-800 rounded-lg py-8 px-5"
  >
    <p class="mt-2 rounded-full my-1 w-fit">
      <span class="text-white uppercase text-xs tracking-wider"
        >Get started</span
      >
    </p>
    <h2 class="mb-2 text-3xl text-white font-serif">{title}</h2><p
      class="text-lg text-white font-serif rounded"
    >
      Email us at <span class="text-white-50 underline">
        hello@thenonprofit.studio
      </span>
    </p>
    <p></p>
  </div>
</section>
